# Default ignored files
/shelf/
/workspace.xml
# IntelliJ IDEA
.idea/
*.iml

# Maven / Gradle
target/
out/
build/
.gradle/
.gradle-cache/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Java class files
*.class

# Environment
.env

# Temporary files
*.swp
*.bak
*.tmp

# VSCode (ако го ползваш)
.vscode/
